.forecast-description__block
    h2.page-title.forecast-description__title Расклад
    .forecast-description__text
        p «Зенит» уже оставил за бортом турнирадва не самых последних немецких клуба. Оба раза он выиграл на своем поле – у выступающей в Бундеслиге «Арминии» (1:0) и покинувшей ее в прошлом году «Фортуны» (3:2). Примечательно, что за 24 матча текущего сезона «Рот Вайсс Эссен» не потерпел ни одного поражения – 18 побед и 6 ничьих. Правда, выступает он в дивизионе «Запад» Региональной лиги,
        p «Спартак» в Кубке разгромил два «Айнтрахта» с общим счетом 11:1 – из Нордерштедта (7:0 в гостях) и Франкфурта-на-Майне (4:1 дома). Однако в Бундеслиге рухнул вниз. В середине декабря после 12 туров он был единоличным лидером (28 очков и ни одного поражения), после чего за 7 матчей набрал всего 4 (!) очка и обыграл только дортмундскую «Боруссию» (2:1 дома). В течение этой черной полосы резко сдала атака «львов» — лишь 5 забитых мячей. Причем за 4 последних тура они трижды
.forecast-description__block
    h2.page-title.forecast-description__title Кадровые проблемы
    .forecast-description__table
        .table.bordered
            .table__row
                .table__logo
                    img(src=require('@images/team-1.png') alt="")
                .table__text Травма
                .table__text Дискв.
                .table__text Под
                    br
                    |
                    | вопросом
            .table__row
                .table__player
                    span.table__player-number
                        +icon('form', 'icon--form', 30, 26)
                        span 44
                    | Ракицкий
                .table__marker
                    .table__marker-icon
                .table__marker
                .table__marker
            .table__row
                .table__player
                    span.table__player-number
                        +icon('form', 'icon--form', 30, 26)
                        span 17
                    | Мостовой
                .table__marker
                .table__marker
                    .table__marker-icon
                .table__marker
            .table__row
                .table__player
                    span.table__player-number
                        +icon('form', 'icon--form', 30, 26)
                        span 11
                    | Клаудиньо
                .table__marker
                .table__marker
                .table__marker
                    .table__marker-icon
        .table.bordered
            .table__row
                .table__logo
                    img(src=require('@images/team-2.png') alt="")
                .table__text Травма
                .table__text Дискв.
                .table__text Под
                    br
                    |
                    | вопросом
            .table__row
                .table__player
                    span.table__player-number
                        +icon('form', 'icon--form', 30, 26)
                        span 98
                    | Максименко
                .table__marker
                    .table__marker-icon
                .table__marker
                .table__marker
            .table__row
                .table__player
                    span.table__player-number
                        +icon('form', 'icon--form', 30, 26)
                        span 3
                    | Максимилиано
                .table__marker
                .table__marker
                    .table__marker-icon
                .table__marker
            .table__row
                .table__player
                    span.table__player-number
                        +icon('form', 'icon--form', 30, 26)
                        span 11
                    | Ларссон
                .table__marker
                .table__marker
                .table__marker
                    .table__marker-icon
.forecast-description__block
    h2.page-title.forecast-description__title Последние очные встречи
    .forecast-description__text В последних пяти матчах в Бундеслиге команды разделили победы и один раз сыграли вничью. При этом в четырех матчах, которые завершались победой одной из команд, проигравший не смог забить. В рамках же Кубка Германии клубы проведут четвертый очный поединок, примечательно, что в предыдущих трех матчах побеждала неизменно «Боруссия», забив 8 мячей, на счету «Штутгарта» 2 гола.
    .forecast-description__meeting.bordered
        .forecast-description__meeting-team
            .table__logo
                img(src=require('@images/team-1.png') alt="")
            | Зенит
        .forecast-description__meeting-results
            // Если у команды больше побед - класс wins, иначе loses
            .forecast-description__meeting-result.wins победы 1
                span 2
            .forecast-description__meeting-result.draws ничьи
                span 0
            .forecast-description__meeting-result.loses победы 2
                span 1
        .forecast-description__meeting-team
            .table__logo
                img(src=require('@images/team-2.png') alt="")
            | Спартак
.forecast-description__block
    h2.page-title.forecast-description__title Судья
    .forecast-description__referee
        +icon('whistle', 'icon--whistle', 24, 20)
        | Гильермо Куадра Фернандес (Мадрид)
    .forecast-description__text
        p Молодой арбитр уже третий сезон работает в Примере и в нынешнем розыгрыше успел получить по назначению на матчи «Атлетико» и «Сельты». В 15-м туре мадридцы при его судействе добыли победу в гостях у «Реала Сосьедад» (2:0), а неделей ранее он был непосредственным участником разгрома «Кадиса» в Виго (0:4). Правда, за 7 матчей с Куадра Фернандесом «Сельта» выиграла лишь однажды, тогда как «Атлетико» в 4 встречах одержал 3 победы. Очную встречу команд арбитр обслужит впервые в карьере.
