.popup.login.password#password-popup
    .popup__header
        span.popup__title Личный кабинет
        button(class="popup__close js-close-popup" title="Закрыть")
            +icon('popup-close', 'icon--popup-close', 20, 20)
    .popup__body
        form.form.forgot-form
            .forgot-form__desc Придумайте новый пароль для аккаунта
                |
                |
                span.purple adwice@gmail.com
            .login-form__row
                input(type="password" class="form__input login-form__input" placeholder="Новый пароль" required)
                input(type="password" class="form__input" placeholder="Новый пароль еще раз" required)
            button(type="submit" class="btn btn--blue login-form__submit") Обновить пароль