@import "../spec/mixins";

.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;

    @include media-up(md) {
        max-width: 1848px - (30px * 2);
    }

    &-small {
        margin: 0 auto;
        padding: 0 16px;
        width: 100%;
        max-width: 1202px;
    }
}