.header {
    &__inner {
        display: flex;
        align-items: center;
        line-height: 1.25;
    }

    &__socials {
        margin-right: 20px;
    }

    &__top-nav {
        margin: 0 auto;
    }

    &__account {
        margin-left: 20px;
    }

    &__main {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: $extra-font;
        font-weight: 500;

        &.dark {
            background-color: $color-main;
        }
    }

    &__logo {
        margin: 12.5px 20px;
        width: 75px;
        height: 35px;

        .dark & {
            color: #ffffff;
        }
    }
    
    &__forecasts {
        margin-left: 8px;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background-color: $color-purple;
        color: #ffffff;
        padding: 19px 20px;

        .icon {
            flex-shrink: 0;
            margin-left: 6px;
        }
    }
}