.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.4;
    transition: all 0.3s;

    @include media-up(lg) {
        font-size: 18px;
    }

    &--default {
        border: 1px solid $color-purple;

        &:hover {
            background-color: $color-purple;
            color: #ffffff;
        }
    }

    &--login {
        font-size: 16px;
        padding: 0;
        
        .dark & {
            color: #ffffff;
        }
       
        @include media-up(xl) {
            padding: 5px 12px;
            border-radius: 30px;
            border: 1px solid rgba($color-purple, 0.15);
        }

        .icon {
            color: $color-purple;
            margin-right: 8px;
        }
    }
}