.form {
    font-size: 0;

    &__input {
        padding: 11px 12px;
        height: 44px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
        border: 1px solid $color-midgrey;
        width: 100%;

        &::placeholder {
            font-family: inherit;
            color: $color-midgrey;
            //font-weight: normal;
            //font-size: 14px;
        }

        &.invalid {
            border-color: $color-red;
        }

        &.valid {
            border-color: $color-green;
        }
    }

    &__textarea {
        border: 1px solid $color-midgrey;
        border-radius: 10px;
        resize: none;
        overflow: hidden;
        transition: height 0.25s;
        line-height: 1.4;
    }

    ::placeholder {
        color: $color-grey;
    }
}