.top {
    &-menu {
        display: flex;

        li {
            margin: 6px 7.5px;

            @include media-up(xl) {
                margin: 0;
                border-left: 1px solid $color-monowhite;

                &:last-child {
                    border-right: 1px solid $color-monowhite;
                }
            }

            a {
                display: block;
                letter-spacing: -0.03em;
                transition: color 0.3s;

                &:hover {
                    color: $color-purple;
                }

                @include media-up(xl) {
                    padding: 9px 15px;
                }

                .dark & {
                    color: #ffffff;
                }
            }
        }
    }
}