.pagination {
    margin-top: 16px;

    @include media-up(md) {
        margin-top: 24px;
    }

    .nav-links {
        display: flex;
        justify-content: center;

        @include media-up(md) {
            justify-content: unset;

            .popup & {
                justify-content: center;
            }
        }
    }

    .page-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        color: $color-main;
        width: 36px;
        height: 36px;
        border-radius: 10px;
        box-shadow: inset 0 0 0 1px $color-midgrey;
        margin-right: 8px;
        background-color: #fff;
        transition: background-color 0.3s;

        &:last-child {
            margin-right: 0;
        }

        &:not(.disabled):not(.current):hover {
            background-color: $color-midgrey;
        }

        &.current {
            box-shadow: inset 0 0 0 1px $color-purple;
            color: $color-purple;
        }

        &.disabled {
            color: $color-midgrey;
        }

        @include media-down(xs) {
            .comments__block & {
                width: 32px;
                height: 32px;
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}