@import "variables";

body {
    &.account,
    &.forecasts {
        background-color: #FCFCFC;
        
        @include media-up(md) {
            background-color: #fff;
        }
    }
}

.dark {
    background-color: $color-main;
}

.color-mono {
    color: $color-mono;
}

.color-midgrey {
    color: $color-midgrey;
}

.title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;

    @include media-up(md) {
        font-size: 20px;
    }

    @include media-up(lg) {
        font-size: 24px;
    }
}

.page {
    padding: 24px 0;

    @include media-up(md) {
        padding: 40px 0;
    }
}

.bordered {
    border-radius: 10px;
    border: 1px solid $color-midgrey;
}

.link {
    color: $color-purple;

    &:hover {
        color: darken($color-purple, 15%);
    }
}

.icon {

    .green & {
        color: $color-green;
    }

    .blue & {
        color: $color-purple;
    }
}

[type="checkbox"],
[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    position: absolute;
    width: 0.01em;
    height: 0.01em;
}