@import "variables";

body {
    background-color: #FCFCFC;

    @include media-up(md) {
        background-color: #fff;
    }
}

.dark {
    background-color: $color-main;
}

.color-mono {
    color: $color-mono;
}

.color-midgrey {
    color: $color-midgrey;
}

.title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;

    @include media-up(md) {
        font-size: 20px;
    }

    @include media-up(lg) {
        font-size: 24px;
    }
}

.bordered {
    border-radius: 10px;
    border: 1px solid $color-midgrey;
}

.link {
    color: $color-purple;

    &:hover {
        color: darken($color-purple, 15%);
    }
}

.icon {

    .green & {
        color: $color-green;
    }

    .blue & {
        color: $color-purple;
    }
}

[type="checkbox"],
[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    position: absolute;
    width: 0.01em;
    height: 0.01em;
}

.like,
.cmnt {
    font-size: 14px;
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    color: $color-grey;
    transition: color 0.3s;

    .icon {
        margin-right: 4px;
        color: $color-midgrey;
        transition: color 0.3s;
    }

    &:active {
        color: $color-main;
    }
}

.like {
    &:hover {
        .icon {
            color: $color-green;
        }
    }

    &:active {
        .icon {
            color: $color-green;
        }
    }
}

.cmnt {
    .like {
        &:hover {
            .icon {
                color: $color-purple;
            }
        }

        &:active {
            .icon {
                color: $color-purple;
            }
        }
    }
}
