.account {
    display: flex;
    flex-wrap: wrap;

    .page {
        @include media-up(xl) {
            display: grid;
            grid-template-columns: 320px 1fr;
            grid-gap: 24px;
        }

        @media (min-width: 1430px) {
            grid-template-columns: 376px 1fr;
            grid-gap: 48px;
        }
    }

    &-content {
        &__title {
            display: none;

            @include media-up(xl) {
                font-size: 18px;
                display: block;
                margin-bottom: 24px;
                font-weight: 600;
            }
        }

        &__section {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            @include media-up(md) {
                margin-bottom: 24px;
                border: 1px solid $color-midgrey;
                border-radius: 10px;
                padding: 16px;
            }

            @media (min-width: 1430px) {
                padding: 24px;
            }
        }
    }
}