.account {
    &-sidebar {

        .logout & {
            margin-bottom: 16px;

            @include media-up(lg) {
                margin-bottom: 24px;
            }
        }

        @include media-up(xl) {
            display: block;
            //max-width: 376px;
            //width: 100%;
            //flex-shrink: 0;
            //margin-right: 24px;

            .logout & {
                margin-bottom: 0;
            }
        }

        @media (min-width: 1430px) {
            //margin-right: 48px;
        }

        input {
            margin-top: 4px;

            &:disabled {
                padding: 0;
                height: auto;
                border-radius: 0;
                border: none;
            }
        }
    }

    &-subtitle {
        font-size: 14px;
        margin-bottom: 12px;

        @include media-up(md) {
            font-size: 16px;
        }
    }

    &-info {
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        background-color: #fff;

        &:last-child {
            margin-bottom: 0;
        }

        @include media-up(lg) {
            padding: 24px;
            margin-bottom: 24px;
        }
    }

    &-actions {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;

        @include media-up(lg) {
            padding: 24px;
        }

        &__title {
            margin-bottom: 16px;

            @include media-up(lg) {
                margin-bottom: 24px;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 16px;

            a {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

                @include media-up(lg) {
                    margin-bottom: 12px;
                }

                &.save {
                    padding: 10px 12px;
                    color: $color-main;
                    border-radius: 10px;
                    border: 1px solid $color-purple;
                }
            }
        }

        &__notice {
            max-width: 260px;
            width: 100%;
            margin-top: 24px;
            font-size: 14px;
            padding: 12px;
            border-radius: 10px;
            box-shadow: inset 0 0 0 1px $color-red;

            @include media-up(xl) {
                max-width: none;
            }
        }
    }

    &-avatar {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 16px;
        margin-bottom: 6px;
        order: -1;

        .logout & {
            //margin-bottom: 0;
        }

        @include media-up(sm) {
            width: 144px;
            height: 144px;
        }

        @include media-up(lg) {
            margin-right: 24px;
        }

        @include media-up(xl) {
            width: 100px;
            height: 100px;
            margin-bottom: 0;
            order: unset;
        }

        @media (min-width: 1430px) {
            width: 144px;
            height: 144px;
        }

        &:hover {
            label {
                opacity: 1;
                visibility: visible;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transform: scale(1.1); // Не обязательно
        }

        &__upload {
            display: none;

            &.editable {
                display: block;
            }

            input {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                width: 0.01em;
                height: 0.01em;
            }
        }

        &__label {
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            background-color: rgba($color-purple, 0.6);
            transition: all 0.25s;

            .icon {
                margin-bottom: 8px;
            }
        }
    }

    &-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 16px;

        @include media-up(sm) {
            flex: 1;
            margin-bottom: 0;
        }

        &.info {
            align-self: flex-start;
        }

        &.mobile {
            display: flex;
            flex: 1;
            margin-bottom: 0;
            padding-top: 7px;
            align-self: flex-start;

            @include media-up(sm) {
                display: none;
            }
        }
    }

    &-username {
        order: -1;
        flex: 1;
        word-break: break-word;

        @include media-up(sm) {
            width: calc(100% - 160px);
            flex: unset;
        }

        @include media-up(lg) {
            width: calc(100% - 168px);
        }

        @include media-up(xl) {
            margin: 24px 0 12px;
            order: unset;
            width: 100%;
        }

        .logout & {
            order: unset;

            @include media-down(xs) {
                margin-bottom: 12px;
            }

            @include media-up(sm) {
                order: -1;
            }

            @include media-up(xl) {
                order: unset;
            }
        }
    }

    &-statistics {
        display: flex;
        align-items: center;
        width: 100%;

        @include media-up(sm) {
            margin-top: 16px;
        }

        @include media-up(lg) {
            margin-top: 24px;
            margin-left: 16px;
            width: auto;
        }

        @include media-up(xl) {
            margin-left: 0;
        }

        &__output {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            margin-right: 16px;
            position: relative;

            .percentage {
                transform: rotate(-90deg);
                animation: progress 1s ease-out forwards;
                transform-origin: center;

                &-text {
                    font-family: $extra-font;
                    font-weight: normal;
                    font-size: 14px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &__total {
            line-height: 1.5;

            .delimeter {
                margin: 0 3px;
            }

            &-title {
                font-size: 14px;
            }

            &-value {
                font-size: 18px;
            }
        }
    }

    &-content {
        width: 100%;

        @include media-up(md) {
            flex: 1;
        }
    }
}

.row {
    &__item {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        width: 100%;

        &:not(:first-child) {
            margin-top: 12px;
        }

        .top-account & {
            margin-bottom: 12px;
        }

        @include media-down(xs) {

            .info & {
                .logout & {
                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        margin-top: 10px;
                    }
                }
            }

            &:not(:first-child) {
                .info & {
                    width: calc(50% - 6px);
                }
            }
        }

        @include media-up(sm) {
            margin-bottom: 12px;

            &:not(:first-child) {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-title {
            font-size: 14px;
            color: $color-midgrey;

            .dark & {
                color: $color-grey;
            }
        }

        &-value {
            display: flex;
            align-items: center;
            font-size: 16px;

            .dark & {
                color: $color-midgrey;
            }

            .icon {
                margin-right: 4px;
            }
        }
    }
}

.logout {
    .page {
        @include media-up(xl) {
            display: grid;
            grid-template-columns: 320px 1fr;
            grid-gap: 24px;
        }

        @media (min-width: 1430px) {
            grid-template-columns: 376px 1fr;
            grid-gap: 48px;
        }
    }
}

.advertise {
    & > div {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}