.program {
    &__title {
        display: none;
        margin-bottom: 8px;

        .scores & {
            display: block;
        }

        @include media-up(md) {
            display: block;
        }
    }

    &__notice {
        margin-bottom: 24px;
        color: $color-grey;

        @include media-down(md) {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 16px;
        }
    }

    &__link {
        padding: 16px;
        border-radius: 10px;
        border: 1px solid $color-midgrey;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include media-up(lg) {
            padding: 24px 16px 24px 24px;
        }

        &-title {
            font-size: 14px;

            @include media-up(md) {
                margin-right: 16px;
            }

            @include media-up(lg) {
                font-size: 18px;
            }
        }

        &-code {
            width: 100%;
            margin-top: 12px;
            flex-direction: row;

            @include media-up(md) {
                margin-top: 0;
                width: auto;
                margin-left: auto;
            }

            button {
                margin-left: 12px;
                margin-top: 0;
                width: 47px;
            }
        }

        .code__field-prefix {
            color: $color-midgrey;
        }

        .code__field-placeholder {
            color: $color-main;
        }
    }

    &__scores {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-top: 16px;
        border-top: 1px solid $color-midgrey;
        border-bottom: 1px solid $color-midgrey;

        @include media-up(md) {
            padding-bottom: 0;
            border-bottom: none;
            padding-top: 24px;
            margin-top: 24px;
        }
    }
}

.referrals {
    & + .pagination {
        .nav-links {
            justify-content: center;
        }
    }
}

.scores {
    &-chart {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-up(sm) {
            flex-direction: row;
        }

        &__pie {
            width: 120px;
            height: 120px;
            position: relative;
            margin-bottom: 16px;

            @include media-up(sm) {
                width: 200px;
                height: 200px;
                margin-bottom: 0;
                margin-right: 24px;
                flex-shrink: 0;
            }

            @include media-up(lg) {
                margin-right: 48px;
            }

            &-text {
                font-family: $extra-font;
                font-weight: normal;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 12px;
                text-transform: uppercase;
                color: $color-grey;

                @include media-up(md) {
                    font-size: 16px;
                }

                @include media-up(lg) {
                    font-size: 18px;
                }

                span {
                    font-size: 24px;
                    color: $color-main;

                    @include media-up(md) {
                        font-size: 32px;
                    }

                    @include media-up(lg) {
                        font-size: 40px;
                    }
                }
            }
        }

        &__legend {
            @include media-up(md) {
                column-count: 2;
                column-gap: 24px;
            }

            @include media-up(lg) {
                column-gap: 48px;
            }
        }
    }
}

.legend {
    display: flex;
    align-items: center;
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 16px;
    white-space: nowrap;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &__color {
        display: block;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    &__size {
        color: $color-midgrey;
    }
}