.program {
    &__title {
        display: none;

        @include media-up(md) {
            display: block;
            margin-bottom: 24px;
        }
    }

    &__link {
        margin-bottom: 16px;
        padding: 16px;
        border-radius: 10px;
        border: 1px solid $color-midgrey;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include media-up(lg) {
            margin-bottom: 24px;
            padding: 24px 16px 24px 24px;
        }

        &-title {
            font-size: 14px;

            @include media-up(md) {
                margin-right: 16px;
            }

            @include media-up(lg) {
                font-size: 18px;
            }
        }

        &-code {
            width: 100%;
            margin-top: 12px;
            flex-direction: row;

            @include media-up(md) {
                margin-top: 0;
                width: auto;
                margin-left: auto;
            }

            button {
                margin-left: 12px;
                margin-top: 0;
                width: 47px;
            }
        }

        .code__field-prefix {
            color: $color-midgrey;
        }

        .code__field-placeholder {
            color: $color-main;
        }
    }

    &__notice {
        @include media-down(md) {
            font-size: 14px;
            font-weight: normal;
        }
    }
}

.referrals {
    & + .pagination {
        .nav-links {
            justify-content: center;
        }
    }
}