.results {
    &__title {
        display: none;

        @include media-up(md) {
            margin-bottom: 24px;
            display: block;
        }
    }

    &__bets {
        margin-bottom: 16px;

        @include media-up(md) {
            display: none;
        }
    }

    &__table {
        font-size: 14px;

        &-header {
            display: none;
            font-family: $extra-font;
            color: $color-midgrey;
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 12px;

            @include media-up(md) {
                display: grid;
                grid-template-columns: repeat(26, 1fr);
                grid-gap: 8px;
            }
        }

        &-title {
            text-align: center;
            font-size: 12px;

            @media (min-width: 1430px) {
                font-size: 14px;
            }

            &:nth-child(1),
            &:nth-child(4) {
                text-align: left;
            }

            &:nth-child(1) {
                grid-column: span 2;
            }

            &:nth-child(2) {
                grid-column: span 3;
            }

            &:nth-child(3) {
                grid-column: span 10;
            }

            &:nth-child(4) {
                grid-column: span 6;
            }

            &:nth-child(5) {
                grid-column: span 3;
            }

            &:nth-child(6) {
                grid-column: span 2;
            }
        }

        &-row {
            padding: 12px 16px;
            border-radius: 10px;
            border: 1px solid $color-midgrey;

            @include media-up(md) {
                padding: 24px 0;
                border-radius: 0;
                border: none;
                border-top: 1px solid $color-midgrey;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}

.result {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    background-color: #fff;

    &:last-child {
        margin-bottom: 0;
    }

    @include media-up(md) {
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(26, 1fr);
        grid-gap: 8px;
    }
    
    &__date {
        color: $color-midgrey;
        text-align: right;
        width: 50%;

        @include media-up(md) {
            width: auto;
            text-align: left;
            grid-column: span 2;
        }
    }

    &__tournament {
        order: -1;
        width: 50%;

        @include media-up(md) {
            width: auto;
            order: unset;
            text-align: center;
            grid-column: span 3;
        }
    }

    &__match {
        display: grid;
        grid-template-columns: 1fr minmax(max-content, max-content) 1fr;
        align-items: center;
        grid-gap: 12px;
        margin-bottom: 12px;
        order: -2;
        width: 100%;

        &-team {
            &--guest {
                text-align: right;
            }
        }

        @include media-up(md) {
            display: flex;
            grid-gap: unset;
            order: unset;
            grid-column: span 10;
            align-items: flex-start;
            margin-bottom: 0;

            &-team {
                flex: 1;

                &--home {
                    text-align: right;
                }

                &--guest {
                    text-align: left;
                }
            }
        }

        &-score {
            flex-shrink: 0;
            padding: 0 5px;
            border-radius: 3px;
            border: 1px solid $color-midgrey;

            @include media-up(md) {
                margin: 0 12px;
            }
        }
    }

    &__output {
        width: 100%;
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid $color-midgrey;

        @include media-up(md) {
            grid-column: span 11;
            padding-top: 0;
            margin-top: 0;
            border: none;
        }

        &-title {
            display: block;
            font-size: 14px;
            margin-bottom: 12px;
            font-weight: 600;
            color: $color-midgrey;

            @include media-up(md) {
                display: none;
            }
        }

        &-data {
            display: flex;
            align-items: center;
            width: 100%;

            @include media-up(md) {
                width: auto;
                display: grid;
                grid-template-columns: 6fr 3fr 2fr;
            }

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
    
    &__forecast {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-right: auto;

        @include media-up(md) {
            margin-left: 0;
        }
    }

    &__factor {
        margin-left: 12px;

        @include media-up(md) {
            margin-left: 0;
            text-align: center;
        }
    }

    &__total {
        margin-left: 12px;

        @include media-up(md) {
            margin-left: 0;
        }

        &-sign {
            margin: 3px auto 0;
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;

            &--win {
                background-color: $color-green;
            }

            &--lose {
                background-color: $color-red;
            }
        }
    }
}

.bet {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid $color-midgrey;
    margin-bottom: 8px;
    background-color: #ffffff;
    font-size: 12px;

    &:last-child {
        margin-bottom: 0;
    }

    &__info {
        width: calc(52% - 8px);
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid $color-midgrey;
        display: flex;
        flex-direction: column;

        &-teams {
            margin-bottom: 16px;

            span {
                display: block;

                &:not(:last-child) {
                    margin-bottom: 4px;
                }
            }
        }

        &-date {
            margin-top: auto;
            color: $color-grey;
        }
    }

    &__stats {
        width: 48%;
        display: flex;
        flex-direction: column;

        & > span {
            color: $color-midgrey;
            margin-bottom: auto;
        }

        &-details {
            margin-top: 4px;
            display: flex;
        }

        &-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 4px;
            border-radius: 10px;
            border: 1px solid $color-midgrey;

            &:last-child {
                margin-right: 0;
            }

            span {
                padding: 4px 8px;
                width: 100%;
                text-align: center;

                &:first-of-type {
                    color: $color-grey;
                    border-bottom: 1px solid $color-midgrey;
                }
            }
        }
    }
}