.scores {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        @include media-up(lg) {
            margin-bottom: 24px;
        }
    }

    &__balance {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        white-space: nowrap;

        .row__item-value {
            font-size: 20px;
        }
    }
}