.match {
    &-header {
        margin-bottom: 16px;
        width: 100%;

        @include media-up(md) {
            margin-bottom: 24px;
        }

        @include media-up(lg) {
            margin-bottom: 36px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        &__title {
            font-size: 24px;
            margin-bottom: 16px;

            @include media-up(lg) {
                margin-right: 36px;
                margin-bottom: 0;
            }
        }

        &__categories {
            white-space: nowrap;
            width: calc(100% + 32px);
            padding: 0 16px;
            margin-left: -16px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            @include media-up(lg) {
                width: auto;
                margin-left: 0;
                padding: 0;
            }
        }
    }

    &-center {
        width: 100%;

        @include media-up(xl) {
            display: flex;
            align-items: flex-start;
        }

        &__sidebar {
            display: none;

            @include media-up(xl) {
                display: block;
                max-width: 360px;
                width: 100%;
                margin-left: 36px;
            }
        }
    }
}

.categories {
    display: flex;
    align-items: center;

    &__item {
        font-size: 16px;
        margin-right: 24px;
        color: $color-grey;
        transition: color 0.3s;

        &:last-child {
            margin-right: 0;
        }

        @include media-up(md) {
            margin-right: 36px;
        }

        &:hover,
        &.active {
            color: $color-main;
        }

        &-count {
            color: $color-midgrey;

            .active & {
                color: $color-purple;
            }
        }
    }
}