include ../components/mixins/loop

.account-content
    .tabs
        a(href="#profile" class="tabs__link tabs__link--hidden js-tab-link") Мой профиль
        a(href="#statistic" class="tabs__link js-tab-link active") Статистика
        a(href="#rating" class="tabs__link js-tab-link") Рейтинг пользователей
        a(href="#scores" class="tabs__link js-tab-link") Баллы
        a(href="#program" class="tabs__link js-tab-link") Партнёрская программа

    .tabs-content.results.js-results
        .tabs-content__panel.js-tab-panel.active#statistic
            include ../components/account/statistics
        .tabs-content__panel.js-tab-panel#rating
            include ../components/account/rating
        .tabs-content__panel.js-tab-panel#scores
            include ../components/account/scores
        .tabs-content__panel.js-tab-panel#program
            include ../components/account/program