.account-sidebar
    .account-info.bordered
        .account-avatar
            img(src=require('@images/user.jpg'))
        .account-row.row.mobile
            .row__item
                span.row__item-title Ранг
                span.row__item-value Expert "Playmaker"
        .account-row.row.info
            .row__item
                span.row__item-title Ранг
                span.row__item-value Expert "Playmaker"
            .row__item
                span.row__item-title Рейтинг
                span.row__item-value.green
                    +icon('star', 'icon--star', 15, 15)
                    | 14
        h2.title.account-username Ilya_Kozak666ovskii2212_RUS
        .account-row.row
            .row__item
                span.row__item-title Имя пользователя
                span.row__item-value Илья Казаков
        .account-statistics
            .account-statistics__output
                svg(width="100%" height="100%" viewBox="0 0 60 60")
                    circle(cx="30" cy="30" r="25" fill="none" stroke="#F9495B" stroke-width="9")
                    circle(class="percentage js-percentage" cx="30" cy="30" r="25" fill="none" stroke="#0CCD93" stroke-dasharray="95, 100" stroke-width="9" pathLength="100")
                .percentage-text.js-percentage-text 0%
            .account-statistics__total
                .account-statistics__total-title
                    span.color-midgrey Победы
                    span.color-midgrey.delimeter /
                    span.color-midgrey Поражения
                    span.color-midgrey.delimeter /
                    span.color-midgrey Прогнозы
                .account-statistics__total-value
                    span.color-mono.js-wins 944
                    span.color-midgrey.delimeter /
                    span.color-mono.js-loses 89
                    span.color-midgrey.delimeter /
                    span.color-midgrey.js-total 1033

    .account-actions.bordered
        h2.title.account-actions__title Действия
        .account-actions__links
            a(href="#" class="account-actions__link link js-edit-account") Вернуться в свой профиль
            a(href="#" class="account-actions__link link save") Подписаться на обновления