.top-account.header__account
    .row__item
        span.row__item-title Ранг
        span.row__item-value Expert "Playmaker"
    ul.top-account__info
        li.top-account__info-item
            a(href="#" class="top-account__info-link top-account__info-link--notifications")
                +icon('bell', 'icon--bell', 16, 16)
                | 1
        li.top-account__info-item
            a(href="#" class="top-account__info-link top-account__info-link--freebets")
                .top-account__info-title Бонусный счёт
                +icon('freebet', 'icon--freebet', 16, 16)
                | 730
        li.top-account__info-item
            a(href="#" class="top-account__info-link top-account__info-link--stars")
                .top-account__info-title Рейтинг
                +icon('star', 'icon--star', 16, 16)
                | 14
        li.top-account__info-item.top-account__info-login
            a(href="#" class="btn btn--login")
                +icon('login', 'icon--login', 12, 15)
                | Выйти
    a(href="#" class="top-account__user js-show-account")
        .top-account__user-avatar
            img(src=require('@images/user.jpg'))
        .top-account__user-login Ilya_Kozak666ovskii2212_RUS
        .top-account__user-icon
            +icon('angle-down', 'icon--angle-down', 10, 6)
    .top-account__dropdown.js-dropdown
        a(href="#login-popup" data-fancybox class="top-account__dropdown-link") Перейти в профиль
        a(href="#" class="top-account__dropdown-link") Настройки
        a(href="#thanx-popup" data-fancybox class="top-account__dropdown-link") Выйти из профиля