- mainNav = ['РПЛ', 'Футбол', 'Хоккей', 'Бокс / ММА', 'Другие', 'Спецпроекты', 'Матч-центр']

nav.main-nav.header__main-nav
    ul.main-menu
        each link in mainNav
            li
                a(href="#")= link