-
    sport = [
        {icon: 'all', title: 'Все', checked: 'checked'},
        {icon: 'football', title: 'Футбол'},
        {icon: 'hockey', title: 'Хоккей'},
        {icon: 'tennis', title: 'Теннис'},
        {icon: 'basketball', title: 'Баскетбол'},
        {icon: 'cyber', title: 'Киберспорт'},
        {icon: 'box', title: 'Единоборства'},
        {icon: 'etc', title: 'Другие'},
    ]
-
    forecasts = [
        {id: 'first', title: 'Название выбранного прогноза', checked: 'checked'},
        {id: 'second', title: 'Прогнозы на АПЛ'},
        {id: 'third', title: 'Прогнозы на Лигу Чемпионов'},
        {id: 'fourth', title: 'Прогнозы на Лигу Чемпионов'},
        {id: 'fifth', title: 'Прогнозы на Лигу Чемпионов'},
        {id: 'sixth', title: 'Прогнозы на Лигу Чемпионов'}
    ]

form.form.forecasts-filter.filter
    .filter__scroll
        .filter__group
            each item, id in sport
                .filter__check.filter__check--icon
                    input(type="radio" name="sport" id="filter_" + item.icon checked= item.checked)
                    label(for="filter_" + item.icon class="filter__check-label")
                        +icon(item.icon, 'icon--' + item.icon, 36, 36)
                        span= item.title
    .filter__scroll
        .filter__group
            each item in forecasts
                .filter__check
                    input(type="radio" name="forecast" id="forecast_" + item.id checked= item.checked)
                    label(for="forecast_" + item.id class="filter__check-label")= item.title
    .filter__row
        .filter__search
            input(type="search" class="form__input form__search" name="s" placeholder="Поиск матчей " role="search")
            +icon('search', 'icon--search', 13, 13)
            .custom-select.filter__search-select
                select
                    option(value="") Команды в матче
                    option(value="team1") Команда 1
                    option(value="team2") Команда 2
        .custom-select.filter__select
            select
                option(value="by_team") По командам
                option(value="by_goal") По голам
                option(value="by_forecast") По прогнозам
        .custom-checkbox.filter__checkbox
            input(type="checkbox" name="actual" id="actual" checked)
            label(for="actual") Только актуальные прогнозы