.match-center__content
    .match-center__top
        .match-center__top-title Футбол
            span 3 / 16
        a(href="#" class="link") Показать все
    .match-center__section
        .match-center__league
            .match-center__league-country
                img(src=require('@images/flag.jpg') alt="")
            span.match-center__league-name РПЛ