aside.match-center__sidebar.advertise
    // Replace by widget
    div(style="border-radius: 10px; font-size: 100px; display: flex; align-items: center; justify-content: center; height: 180px; color: #fff; background: #7d7d7d;") AD
    // Replace by widget