.forecast-sidebar {
    display: none;

    @include media-up(xl) {
        display: block;
        flex: 1;
        max-width: 360px;
        margin-left: 50px;

        & > * {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
}