.scores__header
    h2.title.scores__title Обмен баллов на фрибеты
    .scores__balance
        span.row__item-title Текущий баланс
        span.row__item-value.blue
            +icon('freebet', 'icon', 15, 15)
            | 12 000
