.forecasts {
    &-content {
        @include media-up(xl) {
            display: flex;
        }
    }

    &-block {
        flex: 1;
    }

    &-cards {
        .pagination .nav-links {
            justify-content: center;
        }
    }

    &-sidebar {
        display: none;
        @include media-up(xl) {
            display: block;
            width: 240px;
            flex-shrink: 0;
            margin-left: 24px;
        }
    }
}

.cards {
    @include media-up(sm) {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(2, 1fr);

        &.cards--full {
            display: block;
        }
    }

    @include media-up(md) {
        grid-template-columns: repeat(3, 1fr);

        &.cards--full {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    @include media-up(lg) {
        grid-gap: 24px;
    }
}

.card {
    padding: 16px;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    @include media-down(sm) {
        .cards--full & {
            padding: 0;
            border: none;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__wrapper {
            border-radius: 10px;
            border: 1px solid $color-midgrey;
            padding: 16px;
        }
    }

    @include media-up(sm) {
        margin-bottom: 0;
    }

    @include media-up(lg) {
        padding: 24px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin: -7px -7px 9px;
        width: 100%;

        &-item {
            margin: 7px;
            font-size: 14px;
            color: $color-purple;
            background-color: rgba($color-purple, 0.15);
            border-radius: 27px;
            padding: 5px 10px;
            transition: all 0.3s;

            &:hover {
                color: #ffffff;
                background-color: $color-purple;
            }
        }
    }

    &__links {
        margin: -4px -4px 16px;
        padding-bottom: 12px;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 4px;
            right: 4px;
            bottom: 0;
            border-bottom: 1px solid $color-midgrey;
        }

        &-item {
            margin: 4px;
            color: $color-purple;
            transition: color 0.3s;

            &:hover {
                color: $color-grey;
            }
        }
    }

    &__game {
        display: flex;
        align-items: center;
        //margin-bottom: 16px;

        &-team {
            width: 60px;
            height: 60px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        &-date {
            text-align: center;
            width: 100px;
            margin: 0 10px;
            color: $color-main;
            transition: color 0.3s;

            @include media-up(md) {
                width: 128px;
            }

            .card:hover & {
                color: $color-grey;
            }
        }
    }

    &__title {
        font-size: 16px;
        margin-top: 16px;
        line-height: 1.4;
        font-weight: 600;

        .cards--full & {
            margin-bottom: 0;
        }

        @include media-up(md) {
            font-size: 20px;
        }
    }

    &__meta {
        display: flex;
        align-items: center;
        color: $color-grey;
        font-size: 14px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid $color-midgrey;

        &-date {
            margin-right: auto;
        }

        &-activity {
            margin-left: 16px;
            display: flex;
            align-items: center;

            .icon {
                color: $color-midgrey;
                margin-right: 4px;
            }
        }
    }

    &__footer {
        &-result {
            margin-bottom: 8px;
        }

        &-user {
            font-size: 14px;
            color: $color-grey;
        }
    }

    &__collapse {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;

        .pagination .nav-links {
            justify-content: unset;
        }
    }

    &__table {
        margin-top: 16px;

        @include media-up(md) {
            margin-top: 24px;
            padding: 16px;
        }

        @include media-up(lg) {
            padding: 24px;
        }

        &-title {
            font-family: $extra-font;
            text-transform: uppercase;
            color: $color-midgrey;
            font-weight: normal;
        }

        &-row {
            display: flex;
            font-size: 12px;
            flex-wrap: wrap;
            align-items: center;
            background-color: #fff;

            @include media-up(md) {
                display: grid;
                grid-template-columns: 36px 3fr 3fr 1fr 1fr;
                grid-gap: 20px;
                align-items: center;
            }

            @include media-up(lg) {
                grid-template-columns: 36px 4fr 3fr 1fr 1fr;
                font-size: 14px;
            }

            & > * {
                &:first-child {
                    text-align: center;
                    color: $color-midgrey;
                }

                &:nth-last-child(2) {
                    text-align: center;
                }

                &:last-child {
                    text-align: right;
                }
            }

            &:not(.card__table-header) {
                padding: 8px;
                border-radius: 10px;
                border: 1px solid $color-midgrey;
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

                @include media-up(md) {
                    margin-bottom: 0;
                    padding: 12px 0;
                    border-radius: 0;
                    border: none;
                }
            }

            &:not(:first-child) {
                border-bottom: 1px solid $color-midgrey;
            }
        }

        &-header {
            @include media-down(sm) {
                display: none;
            }
        }

        &-place {
            @include media-down(sm) {
                margin-right: 8px;
            }
        }

        &-user {
            font-weight: normal;
            display: flex;
            align-items: center;
            word-break: break-all;

            @include media-down(sm) {
                margin-right: auto;
            }
        }

        &-forecast {
            @include media-down(sm) {
                display: none;
            }
        }

        &-data {
            display: flex;
            order: -1;
            width: 100%;
            margin-bottom: 16px;

            .bet__stats {
                @include media-up(sm) {
                    align-items: flex-end;
                }
            }

            @include media-up(md) {
                display: none;
            }
        }

        &-winner {
            @include media-down(sm) {
                margin-bottom: 4px;
            }
        }

        &-total {
            @include media-down(sm) {
                display: none;
            }
        }

        &-factor {
            @include media-down(sm) {
                display: none;
            }
        }

        &-result {
            span {
                @include media-up(md) {
                    margin-right: 12px;
                }
            }
        }
    }

    &__button {
        margin-top: 24px;
        order: 1;
        width: 100%;

        @include media-up(sm) {
            order: unset;
            margin-top: 0;
            width: auto;
            margin-left: auto;
        }

        //&.active {
        //    display: none;
        //}
    }
}