.forecasts-filter {
    margin-bottom: 16px;

    @include media-up(md) {
        margin-bottom: 24px;
    }
}

.filter {
    @include media-up(lg) {
        border-radius: 10px;
        border: 1px solid $color-midgrey;
        padding: 24px;
    }

    &__group {
        display: flex;
        overflow-x: auto;
        position: relative;
        padding: 0 16px;
        margin-bottom: 16px;
        margin-left: -16px;
        width: calc(100% + 32px);
        //-webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @include media-up(md) {
            margin-bottom: 24px;
        }

        @include media-up(lg) {
            padding: 0 24px;
            margin-left: -24px;
            width: calc(100% + 48px);
        }
    }

    &__check {
        margin-right: 14px;

        &:last-child {
            margin-right: 0;
        }

        input {
            &:checked {
                & + label {
                    color: $color-purple;
                    background: rgba($color-purple, 0.15);
                    border-color: rgba($color-purple, 0.15);
                }
            }
        }

        &.filter__check--icon {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }

            @include media-up(lg) {
                margin-right: 12px;
            }

            input {
                &:checked {

                    & + label {
                        border-color: $color-purple;
                        background: none;
                        color: $color-main;

                        .icon {
                            color: $color-purple;
                        }
                    }
                }
            }
        }

        &-label {
            display: block;
            cursor: pointer;
            white-space: nowrap;
            font-size: 16px;
            padding: 6px 11px;
            border-radius: 27px;
            border: 1px solid $color-midgrey;
            transition: all 0.3s;
            background: #fff;

            .filter__check--icon & {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 14px;
                line-height: 1.5;
                width: 114px;
                height: 93px;
                padding: 10px;
                border-radius: 10px;
                background: none;

                @include media-up(lg) {
                    width: 140.5px;
                    height: 92px;
                    font-size: 16px;
                    line-height: 1.25;
                }

                &:hover {
                    .icon {
                        color: $color-main;
                    }
                }

                .icon {
                    margin-bottom: 12px;
                    flex-shrink: 0;
                    color: $color-grey;
                    transition: color 0.3s;
                }

                span {
                    margin-top: auto;
                }
            }
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        & > * {
            @include media-up(lg) {
                margin-right: 24px;
                flex: 1;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__search {
        position: relative;
        width: 100%;
        margin-bottom: 16px;

        @include media-up(lg) {
            flex: 2.7;
            margin-bottom: 0;
        }

        .icon {
            position: absolute;
            left: 16px;
            top: 16px;
        }

        &-select {
            position: absolute;
            top: 8px;
            right: 10px;
            width: 50%;

            @include media-up(md) {
                //max-width: 140px;
            }

            select + .select-selected {
                //width: 144px;
                padding: 4px 22px 4px 8px;
                border: 1px solid $color-monowhite;
                color: $color-grey;
                font-size: 14px;
                height: auto;
                font-weight: normal;
                width: 100%;

                @include media-up(md) {
                    font-weight: 600;
                }

                &:after {
                    display: none;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 9px;
                    right: 8px;
                    width: 6px;
                    height: 12px;
                    background-image: url('@images/search-select.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .select-items {
                border: 1px solid $color-monowhite;

                .select-item {
                    padding: 4px 8px;
                    font-size: 14px;
                    font-weight: normal;
                    color: $color-grey;

                    @include media-up(md) {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .form__search {
        font-size: 14px;
        padding-left: 32px;

        @include media-up(md) {
            font-size: 18px;
            padding-left: 38px;
        }
    }

    &__select {
        width: 100%;
        margin-bottom: 16px;

        @include media-up(sm) {
            margin-bottom: 0;
            flex: 1;
        }

        @include media-up(lg) {
            min-width: 280px;
        }
    }

    &__checkbox {
        @include media-up(sm) {
            margin-left: 16px;
        }

        @include media-up(lg) {
            margin-left: 0;
        }
    }
}
