mixin icon(glyph, className, width, height)
    svg(class=className ? className: 'icon' class=className ? className + '--' + glyph: 'icon--' + glyph width=width height=height)
        use(xlink:href='#' + glyph)
