extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'forecast'
    - headTitle = 'Зенит–Спартак прогнозы на матч 16.12.2020'
    - socialsClass = 'header__socials'
block content
    main.main
        .page-single
            .container
                .page-section.forecast-section
                    section.forecast
                        h1.page-title.forecast-title Зенит–Спартак прогнозы на матч 16.12.2020
                        .card__tags
                            a.card__tags-item(href="#") Футбол
                            a.card__tags-item(href="#") Прогноз Playmaker
                        .forecast-info.bordered
                            .forecast-info__banner(style="background-image: url(" + require('@images/event.jpg') + ");")
                                .forecast-info__team
                                    h2 Зенит
                                    .forecast-info__team-logo
                                        img(src=require('@images/team-1.png') alt="")
                                    .forecast-info__team-series.series
                                        .series__item.series__item--win В
                                        .series__item.series__item--win В
                                        .series__item.series__item--lose П
                                        .series__item.series__item--draw Н
                                        .series__item.series__item--win В
                                    .forecast-info__team-result +5=3-2, 12:3, 3-е место
                                .forecast-info__event
                                    .forecast-info__event-details
                                        | РПЛ • 8-й тур
                                        br
                                        | 16 декабря 2020 • 19:00 МСК
                                    .forecast-info__event-score 3-1
                                    .forecast-info__event-place
                                        +icon('stadium', 'icon-stadium', 22, 16)
                                        | Газпром Арена, Санкт-Петербург
                                .forecast-info__team
                                    h2 Спартак
                                    .forecast-info__team-logo
                                        img(src=require('@images/team-2.png') alt="")
                                    .forecast-info__team-series.series
                                        .series__item.series__item--win В
                                        .series__item.series__item--win В
                                        .series__item.series__item--win В
                                        .series__item.series__item--draw Н
                                        .series__item.series__item--win В
                                    .forecast-info__team-result +5=3-2, 12:3, 3-е место
                            .forecast-info__content
                    aside.forecast-sidebar
                        // Replace by widget
                        div(style="border-radius: 10px; font-size: 100px; display: flex; align-items: center; justify-content: center; height: 180px; color: #fff; background: #7d7d7d;") AD
                        // Replace by widget