extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'forecast'
    - headTitle = 'Зенит–Спартак прогнозы на матч 16.12.2020'
    - socialsClass = 'header__socials'
block content
    main.main
        .page
            .container
                .page-section.forecast-section
                    section.forecast
                        include ../components/forecast/header
                        .forecast-info.bordered
                            include ../components/forecast/banner
                            include ../components/forecast/info
                        .forecast-description
                            include ../components/forecast/description
                        .forecast-comments.comments
                            include ../components/forecast/comments
                    include ../components/forecast/sidebar