extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'home logout'
    - headTitle = ''
    - socialsClass = 'header__socials'
block content
    main.main
        .container
            .account-page
                .account-sidebar
                    | Ilya_Kozak666ovskii2212_RUS
                .account-content
                    | Результаты прогнозов