extends ../layout/default
include ../components/mixins/icon

block vars
    - pageClass = 'account'
    - headTitle = 'Личный кабинет'
    - socialsClass = 'header__socials'
block content
    main.main
        .container
            .page-account.account
                include ../components/account-sidebar
                .account-content
                    | Результаты прогнозов