extends ../layout/index

block vars
    - pageClass = 'index'
    - headTitle = 'Start'
block content
    style.
        nav {
            width: 100%;
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        nav a {
            margin-bottom: 10px;
        }
        nav a:last-child {
            margin-bottom: 0;
        }
    nav
        a(href='/home.html') Аккаунт
        a(href='/home-logout.html') Аккаунт другого пользователя
        a(href='/forecasts.html') Прогнозы
        a(href='/forecasts-winners.html') Список победителей