include ../components/mixins/icon
header.header
    .header__top
        .container-small
            .header__inner
                include ../components/socials
                include ../components/menu-top
                if (pageClass !== 'home logout')
                    include ../components/account-top
                else
                    include ../components/account-top-logout
    .header__main.dark
        a(href="/" class="header__logo" title="Главная")
            +icon('logo', 'icon', 75, 35)
        include ../components/menu-main
        include ../components/search
        a(href="#" class="header__forecasts js-show-forecasts") Прогнозы
            +icon('angle-down', 'icon', 10, 6)