include ../components/mixins/icon
header.header
    .header__mobile.dark
        button(class="header__mobile-hamburger js-open-menu")
            +icon('hamburger', 'icon--hamburger', 30, 30)
        a(href="/" class="header__mobile-logo" title="Главная")
            +icon('logo', 'icon--logo', 64, 30)
    .header__layout.js-layout
    .header__menu.js-menu
        .header__top
            .container-small
                .header__inner
                    include ../components/socials
                    include ../components/menu-top
                    if (pageClass !== 'logout')
                        include ../components/account-top
                    else
                        include ../components/account-top-logout
        .header__main.dark
            a(href="/" class="header__logo" title="Главная")
                +icon('logo', 'icon--logo', 75, 35)
            button(class="header__close js-close-menu")
                +icon('close', 'icon--close', 36, 36)
            include ../components/menu-main
            include ../components/search
            a(href="#" class="header__forecasts js-show-forecasts") Прогнозы
                +icon('angle-down', 'icon--angle-down', 10, 6)